[submodule "Cs-1"]
	path = Cs-1
	url = https://github.com/voidrealms/Cs-1.git
[submodule "Cs-2"]
	path = Cs-2
	url = https://github.com/voidrealms/Cs-2.git
[submodule "Cs-3"]
	path = Cs-3
	url = https://github.com/voidrealms/Cs-3.git
[submodule "Cs-4"]
	path = Cs-4
	url = https://github.com/voidrealms/Cs-4.git
[submodule "Cs-5"]
	path = Cs-5
	url = https://github.com/voidrealms/Cs-5.git
[submodule "Cs-6"]
	path = Cs-6
	url = https://github.com/voidrealms/Cs-6.git
[submodule "Cs-7"]
	path = Cs-7
	url = https://github.com/voidrealms/Cs-7.git
[submodule "Cs-8"]
	path = Cs-8
	url = https://github.com/voidrealms/Cs-8.git
[submodule "Cs-9"]
	path = Cs-9
	url = https://github.com/voidrealms/Cs-9.git
[submodule "Cs-10"]
	path = Cs-10
	url = https://github.com/voidrealms/Cs-10.git
[submodule "Cs-11"]
	path = Cs-11
	url = https://github.com/voidrealms/Cs-11.git
[submodule "Cs-12"]
	path = Cs-12
	url = https://github.com/voidrealms/Cs-12.git
[submodule "Cs-13"]
	path = Cs-13
	url = https://github.com/voidrealms/Cs-13.git
[submodule "Cs-14"]
	path = Cs-14
	url = https://github.com/voidrealms/Cs-14.git
[submodule "Cs-15"]
	path = Cs-15
	url = https://github.com/voidrealms/Cs-15.git
[submodule "Cs-16"]
	path = Cs-16
	url = https://github.com/voidrealms/Cs-16.git
[submodule "Cs-17"]
	path = Cs-17
	url = https://github.com/voidrealms/Cs-17.git
[submodule "Cs-18"]
	path = Cs-18
	url = https://github.com/voidrealms/Cs-18.git
[submodule "Cs-19"]
	path = Cs-19
	url = https://github.com/voidrealms/Cs-19.git
[submodule "Cs-20"]
	path = Cs-20
	url = https://github.com/voidrealms/Cs-20.git
[submodule "Cs-21"]
	path = Cs-21
	url = https://github.com/voidrealms/Cs-21.git
[submodule "Cs-22"]
	path = Cs-22
	url = https://github.com/voidrealms/Cs-22.git
[submodule "Cs-23"]
	path = Cs-23
	url = https://github.com/voidrealms/Cs-23.git
[submodule "Cs-24"]
	path = Cs-24
	url = https://github.com/voidrealms/Cs-24.git
